.background-body{
	background-image: url(../images/backgroundqq.png);
}
.padding-nav{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	margin-bottom: 0px;
}
.middle {
    padding: 20px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}
.right{
	float: right;
}
.line-height{
	line-height: 45px !important;
}
a{
	color: #7DAC39 !important;
}
a:hover{
	color: white !important;
	text-decoration: none !important;
}
.form-daftar{
	float: none !important; 
	margin: 0 auto;
    width: 320px !important;
     background: #fff;
     box-shadow: 0 0 20px rgba(0,0,0,0.7); 
    z-index: 5;
}
.padding-form-register{
	padding-top: 40px;
	padding-bottom: 40px;
} 
.text-count {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    line-height: 24px;
    position: relative;
    z-index: 10;
}
.tengah{
	margin: auto;
}
.calc1 {
    margin-top: 22px;
    padding-left: 70px;
    overflow: hidden;
    padding-bottom: 20px;
}
.content_place1 {
    padding-bottom: 30px;
}