.background-body{
	background-image: url(../images/backgroundqq.png);
}
.deposit{
    color:#CECECD;
    line-height: 25px;
    font-size: 18px;
}
.middle {
    font-size: 30px;
    line-height: 40px !important;
    color: #ffffff;
    line-height: 20px;
}
.line-height{
	line-height: 45px !important;
}
a{
	color: #7DAC39 !important;
}
a:hover{
	color: white !important;
	text-decoration: none !important;
}
.form-daftar{
	float: none !important; 
	margin: 0 auto;
    width: 320px !important;
     background: #fff;
     box-shadow: 0 0 20px rgba(0,0,0,0.7); 
    z-index: 5;
}
.padding-form-register{
	padding-top: 40px;
	padding-bottom: 40px;
} 
.text-count {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    line-height: 24px;
    position: relative;
    z-index: 10;
}
.tengah{
	margin: auto;
}
.contact-person{
    display: block;
    font-size: 18px;
    color: #CECECD;
    margin-top: 40px;
    width: 100%;
}
.content_place1 {
    padding-bottom: 30px;
}
@media (max-width: 991px){
.deposit{
    color:#CECECD;
    line-height: 40px;
    font-size: 20px;
    padding-bottom: 80px;
}
.text_count_big2{
    margin-top: 0px !important;
}
}