* {margin: 0; padding: 0; font-family: 'Open Sans', Arial, sans-serif;}
html {height: 100%;}

body {
    width: 100%;
    height: 100%;
    background: url(../images/gold3.jpg) no-repeat scroll 0 0 rgb(32, 16, 3);
    background-size: 100%;
}

a {color:#c6ff00; outline: none; text-decoration: none;}
a:hover {text-decoration: none;}
table {border-collapse: collapse;}
img {border: none;}
input {vertical-align: middle;}
input:-webkit-autofill {color: #ffffff !important;}
textarea:focus, input:focus{outline: none;}

.clear {clear:both; height:0px;}
.nowrap {white-space:nowrap;}

.logo {
    width: 150px;
    height: 150px;
    background: url(../images/logo.jpg) no-repeat;
    margin: 50px auto;
    position: relative;
    z-index: 10;
}
.logo_place {
    width: 100%;
    background-size: 100%;
    padding-bottom: 50px;
    overflow: hidden;
}
.col-null{
    margin-left: 0;
    margin-right: 0;
}
.text_lot, .text_count_big, .text_count{
    text-align: center;
    width: 100%;
    color: #fff;
    z-index: 10;
    position: relative;
    text-shadow: 0 10px 20px #182a07;
}
.text_lot {
    font-size: 74px;
    color: #c6ff00;
    line-height: 80px;
    font-weight: bold;
}
.text_count_big {
    font-size: 36px;
    line-height: 40px;
    margin-top: 80px;
}
.mt_20 {
    margin-top: 20px !important;
}
.text_count {
    font-size: 18px;
    line-height: 24px;
    margin-top: 40px;
}
.content_place1, .content_place{
    overflow: hidden;
    width: 100%;
    position: relative;
}
.content_place1 {
    float: left;
}
.content_place {
    padding-bottom: 30px;
    background: url('../images/footer.gif') repeat;
}
.calc {
    float: left;
    margin-top: 30px;
    width: 50%;
}
.head_calc {
    font-size: 24px;
    font-weight: 700;
    color: #F9E87E;
    text-align: left;
    margin-left: 10%;
    line-height: 24px;
    z-index: 10;
    margin-bottom: 20px;
}
.text_count_big_l {
    font-size: 18px;
    color: #F9E87E;
    text-align: left;
    width: 100%;
    line-height: 30px;
    position: relative;
    float: left;
    margin-top: 20px;
    margin-left: 10%;
}
.form {
    background: url('../images/gold1.jpg') #F5D76F;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    z-index: 5;
}
.form .t-bot {
    margin-top: 15px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}
.form .t2 {
    margin-top: 8px;
    font-size: 24px;
    color: #4b4b4b;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}
.text_count_small {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    line-height: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 10;
}
.mt_10 {
    margin-top: 10px !important;
    margin-bottom: 30px;
    color: #c6ff00 !important;
}
.tc_gr1 {
    color: #838383 !important;
}
.back-footer{
    background: url('../images/footer.gif') repeat;
    margin-top: -30px;
    padding-bottom: 50px;
}
.form input[type="text"], .form input[type="password"] {
    font-size: 14px;
    line-height: 30px;
    padding: 6px 10px;
    background: #fff;
    border: 1px solid #cccccc;
    margin-bottom: 15px !important;
    width: 30%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 20px;
}
.form input[type="text"].error, .form input[type="password"].error {
    border-color:red;
}
.form .subm {
    margin: 10px auto 0 auto;
    width: 240px;
    height: 44px;
    padding: 20px;
    background: #BDA03E;
    text-align: center;
    line-height: 4px;
    font-weight: 700;
    font-size: 12px;
    color: #000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    transition: all 0.3s linear 0s;
}
.form .subm:hover {
    background:#f3e686;
}
.form .subm span {
    font-size:16px;
    text-transform:uppercase;
}
.form .subm input {
    position:absolute;
    left:0; top:0; right:0; bottom:0;
    width:100%;
    cursor:pointer;
    border:none;
    background:none;
}
.text_count_middle {
    width: 50%;
    padding: 0;
    font-size: 14px !important;
    color: white;
    position: relative;
    margin-top: 30px;
    float: left;
}
.text_count_big2 {
    font-size: 30px;
    color: #F9E87E;
    text-align: center;
    width: 100%;
    line-height: 40px;
    margin-bottom: 50px;
    position: relative;
    z-index: 10;
}
.text_count_middle2 {
    width: 100%;
    padding: 20px;
    font-size: 14px;
    color: #F9E87E;
    text-align: center;
    line-height: 30px;
    position: relative;
    float: left;
    margin-bottom: 80px;
}
.salad{
    color: #F9E87E;
}
.font14px{
    font-size: 14px;
}

.form .error-mes {color:red; font-size:12px; margin-top:-5px;}

@media(max-width: 1199px){
    body{
        background-size: 1270px;
    }
}

@media(max-width: 991px){
    body{
        background-size: 1600px;
    }
    .mt_10 {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px){
    body {
        background-size: 2000px;
    }
    .calc {
        padding: 20px;
        width: 100%;
    }
    .form input[type="text"], .form input[type="password"] {
        width: 50%;
    }
    .text_count_middle {
        width: 100%;
        padding: 20px;
    }
}