.background-body{
	background-image: url(../images/backgroundb.png);
}
.contact-person{
    display: block;
    font-size: 18px;
    color: #CECECD;
    margin-top: 40px;
    width: 100%;
}
.deposit{
    color:#CECECD;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 60px;
}
.middle {
    font-size: 30px;
    line-height: 40px !important;
    color: #ffffff;
    line-height: 20px;
}
.line-height{
	line-height: 45px !important;
}
a{
	color: #7DAC39 !important;
}
a:hover{
	color: white !important;
	text-decoration: none !important;
}
.logo1 {
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
    position: relative;
    z-index: 10;
}
.form-daftar {
    width: auto !important; 
    background: transparent !important; 
    padding: 20px;
    box-shadow: none !important;
    z-index: 5;
    margin-top: 100px !important;
}
.margin-col12{
	margin-bottom: 50px;
}
.font-account{
    color: white !important;
}
.content_place1 {
    padding-bottom: 30px;
}
@media (max-width: 1199px){
.text_count {
    margin-top: 40px !important;
}
.tengah{
    margin: auto;
    float: none !important;
}
}
@media (max-width: 991px){
.deposit{
    margin-bottom: 60px;
    color:#CECECD;
    line-height: 40px;
    font-size: 20px;
}
.tengah{
    margin: auto;
    float: none !important;
}
.form-daftar {
    float: none !important;
    width: 400px !important;
    background: transparent !important; 
    padding: 20px;
    box-shadow: none !important;
    z-index: 5;
    margin-top: 100px !important;
}
}
@media (max-width: 500px){
    .tengah{
    margin: auto;
    float: none !important;
}
.form-daftar {
    float: none !important;
    width: 100% !important;
    background: transparent !important; 
    padding: 20px;
    box-shadow: none !important;
    z-index: 5;
    margin-top: 100px !important;
}
}