* {margin: 0; padding: 0; font-family: 'Open Sans', Arial, sans-serif;}
html {height: 100%;}

body {
    width: 100%;
    height: 100%;
    background: url(../images/cheer4.jpg) no-repeat scroll 0 0 rgb(32, 16, 3);
    background-size: 100%;
}

a {color:#7dac39; outline: none; text-decoration: none;}
a:hover {text-decoration: none;}
table {border-collapse: collapse;}
img {border: none;}
input {vertical-align: middle;}
input:-webkit-autofill {color: #ffffff !important;}
textarea:focus, input:focus{outline: none;}

.clear {clear:both; height:0px;}
.nowrap {white-space:nowrap;}

.logo_place {
    width: 100%;
    overflow: hidden;
}
.logo {
    width: 150px;
    height: 150px;
    margin: 50px auto;
    background: url(../images/logo.jpg) no-repeat;
    position: relative;
    z-index: 10;
}
.col-null{
    margin-left: 0;
    margin-right: 0;
}
.text_lot {
    font-size: 74px;
    color: #c6ff00;
    text-align: center;
    line-height: 80px;
    z-index: 10;
    position: relative;
    font-weight: bold;
    text-shadow: 0 10px 20px #182a07;
}
.text_count_big {
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    line-height: 24px;
    margin-top: 20px;
    position: relative;
    z-index: 10;
}
.content_place {
    padding-bottom: 30px;
    padding-top: 50px;
    margin: auto;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.calc {
    float: left;
    width: 60%;
     padding-bottom: 50px;
    background: rgba(245, 215, 110, .3);
    box-shadow: 1px 1px 10px rgb(58, 31, 10);
}
.head_calc {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    line-height: 24px;
    z-index: 10;
    margin: 20px;
}
.text_count_big_l {
    font-size: 18px;
    color: #ffffff;
    text-align: left;
    width: 100%;
    line-height: 30px;
    position: relative;
    margin-top: 20px;
    margin-left: 3%;
}
.form .t-bot {
    margin-top: 15px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}
.form {
    float: left;
    width: 350px;
    background: #F5D76E;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    z-index: 5;
    margin-left: 3%;
}
.form .t2 {
    margin-top: 8px;
    font-size: 24px;
    color: #4b4b4b;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}
.text_count_small {
    font-size: 14px;
    text-align: center;
    width: 100%;
    line-height: 20px;
    position: relative;
    z-index: 10;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #838383;
}
.mt_10 {
    margin-top: 10px;
    margin-bottom: 30px;
}
.form input[type="text"], .form input[type="password"] {
    font-size: 14px;
    line-height: 30px;
    padding: 6px 10px;
    background: #fff;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.form input[type="text"].error, .form input[type="password"].error {
    border-color:red;
}
.form .subm {
    margin:10px auto 0 auto;
    width:240px;
    height:44px;
    padding:20px;
    background:#F89406;
    text-align:center;
    line-height:4px;
    font-weight:700;
    font-size:12px;
    color:#fff;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position:relative;
    transition: all 0.3s linear 0s;
}
.form .subm:hover {
    background:#F9BF3B;
}
.form .subm span {
    font-size:16px;
    text-transform:uppercase;
}
.form .subm input {
    position:absolute;
    left:0; top:0; right:0; bottom:0;
    width:100%;
    cursor:pointer;
    border:none;
    background:none;
}
.text_count, .text_count_middle, .text_count_big2, .text_count_middle2{
    width: 100%;
    color: #fff;
    position: relative;
}
.text_count {
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    z-index: 10;
}
.text_count_middle {
    margin: 40px auto;
    float: left;
}
.fs_30{
    font-size: 30px;
    border: none;
}
.text_count_big2 {
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 50px;
    z-index: 10;
}
.text_count_middle2 {
    margin-top: 50px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-bottom: 80px;
}
.salad{
    color: #c6ff00;
}
.fs_20{
    font-size: 20px;
}

.form .error-mes {color:red; font-size:12px; margin-top:-5px;}

@media(max-width: 1017px){
    .calc {
        width: 100%;
        padding-left: 10%;
    }
    .form {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 768px){
    .text_count_big{
        line-height: normal;
    }
}